---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

import { ownResources, projects, clients } from './resources';
---

<Layout title="nostr.moe">
	<main>
		<h1><span class="text-gradient">nostr.moe</span></h1>
		<p class="presentation">
			Welcome to nostr.moe <strong>the home of various nostr projects</strong>.
			Checkout the list below
		</p>
		<ul role="list" class="link-card-grid">
			{ownResources.map((item) => (
				<Card
					href={item.href}
					title={item.title}
					body={item.body}
				/>
			  ))}
		</ul>
		<p class="presentation">
			Don't forget to checkout <strong>other awesome projects from the community</strong>
		</p>
		<ul role="list" class="link-card-grid">
			{projects.map((item) => (
				<Card
					href={item.href}
					title={item.title}
					body={item.body}
				/>
			  ))}
		</ul>
		<p class="presentation">
			<strong>Awesome clients</strong> to use (with minimal technical knowledge)
		</p>
		<ul role="list" class="link-card-grid">
			{clients.map((item) => (
				<Card
					href={item.href}
					title={item.title}
					body={item.body}
				/>
			  ))}
		</ul>
		<p class="presentation">
			<a href="https://snort.social/p/npub1ftpy6thgy2354xypal6jd0m37wtsgsvcxljvzje5vskc9cg3a5usexrrtq">Connect with me on nostr</a>: <code>npub1ftpy6thgy2354xypal6jd0m37wtsgsvcxljvzje5vskc9cg3a5usexrrtq</code>
		</p>
		<p class="presentation">
			<strong>Missing something?</strong> Feel free to <a href="https://github.com/piraces/nostr.moe">open a PR to this page on Github</a>
		</p>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1.5rem;
		min-width: 24ch;
	}
	h1 {
		font-size: 3rem;
		font-weight: 800;
		margin: 0;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.presentation {
		line-height: 1.6;
		margin: 1rem 0;
		border: 1px solid rgba(var(--accent), 25%);
		background-color: white;
		padding: 1rem;
		border-radius: 0.4rem;
		overflow-wrap: break-word;
	}
	.presentation code {
		font-size: 0.875em;
		font-weight: bold;
		background: rgba(var(--accent), 12%);
		color: rgb(var(--accent));
		border-radius: 4px;
		padding: 0.3em 0.45em;
	}
	.presentation strong {
		color: rgb(var(--accent));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 1rem;
		padding: 0;
	}
</style>
